<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Selamat Datang!</h1>
      <p>Sign in to continue</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">USERNAME</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input type="password" [(ngModel)]="pass"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button
        size="large"
        class="login-button"
        color="pink"
        (click)="validasi()"
        >Sign in</ion-button
      >
    </div>
  </div>
</ion-content>
