<ion-header translucent>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Test pengetahuan anak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Aku manis kadang asam buah apakah aku?</ion-label>
      </ion-list-header>
      <img
        src="/assets/test/st.jpg"
        style="
          width: 50%;
          margin-right: auto;
          margin-left: auto;
          display: block;
        "
      />
      <ion-item>
        <ion-label>Stroberi</ion-label>
        <ion-radio slot="start" color="success" value="Stroberi"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Anggur</ion-label>
        <ion-radio slot="start" color="tertiary" value="Anggur"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Nanas</ion-label>
        <ion-radio slot="start" color="danger" value="Nanas"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-label
          >Aku manis kadang juga asam, dan terkenal akan vitamin c nya buah
          apakah aku?</ion-label
        >
      </ion-list-header>
      <img
        src="/assets/test/jk.jpg"
        style="
          width: 50%;
          margin-right: auto;
          margin-left: auto;
          display: block;
        "
      />
      <ion-item>
        <ion-label>Apel</ion-label>
        <ion-radio slot="start" color="success" value="Apel"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Kiwi</ion-label>
        <ion-radio slot="start" color="tertiary" value="Kiwi"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Jeruk</ion-label>
        <ion-radio slot="start" color="danger" value="Jeruk"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-label
          >Aku manis kadang juga asam, dan aku berduri kulitnya nya buah apakah
          aku?</ion-label
        >
      </ion-list-header>
      <img
        src="/assets/test/nn.jpg"
        style="
          width: 50%;
          margin-right: auto;
          margin-left: auto;
          display: block;
        "
      />
      <ion-item>
        <ion-label>Apel</ion-label>
        <ion-radio slot="start" color="success" value="Apel"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Nanas</ion-label>
        <ion-radio slot="start" color="tertiary" value="Nanas"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Jeruk</ion-label>
        <ion-radio slot="start" color="danger" value="Jeruk"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
