<ion-header translucent>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mengenal Alfabet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <ion-card>
      <img src="/assets/alph/a.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf A</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/c.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf C</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/e.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf E</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/g.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf G</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/i.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf I</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/k.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf K</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/m.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf M</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/o.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf O</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/q.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf Q</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/s.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf S</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/u.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf U</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/w.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf W</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/y.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf Y</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="/assets/alph/b.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf B</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/d.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf D</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/f.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf F</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/h.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf H</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/j.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf J</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/l.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf L</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/n.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf N</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/p.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf P</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/r.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf R</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/t.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf T</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/v.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf V</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/x.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf X</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/alph/z.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Huruf Z</ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
