<ion-header translucent>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mengenal macam bentuk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <ion-card>
      <img src="/assets/shapes/bulat.jpg" />
      <ion-card-content>
        <ion-card-title color="pink" style="font-size: 27px"
          >Lingkaran</ion-card-title
        >
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/shapes/tr.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Segitiga</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/shapes/st.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Bintang</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="/assets/shapes/sq.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Persegi</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/shapes/pt.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Segi lima</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/shapes/tp.jpg" />
      <ion-card-content>
        <ion-card-title color="pink">Trapesium</ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
